:root {
  --bg-color: #132238;
}
.contactContainer {
  height: 100vh;
  width: 100vw;
}
.contactContainer .black-section {
  background-color: var(--bg-color);
  text-align: center;
  color: white;
  height: 35%;
  padding: 3%;
}
.contactContainer .black-section p {
  color: #a5acb5;
  margin-bottom: 30px;
}
.contactContainer .black-section a {
  text-decoration: none;
}
