@import url(./contact.css);
@import url(./resume.css);

:root {
  --text-color: #333333;
  --buttoncolor: #a53dff;
  --note-color: rgba(105, 116, 132, 0.5);
  --frame-color: #697484;
  --dark-gray: #556070;
}
* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  /* overflow-y: hidden; */
}

.note {
  color: var(--note-color);
  font-size: 0.8rem;
}

a:hover {
  filter: drop-shadow(5px 5px 2px #a53dff);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .logoBox {
  gap: 6px;
  display: flex;
  align-items: center;
  flex-grow: 0.5;
}
nav .logoBox h1 {
  color: #132238;
  font-weight: 900;
}
nav .logo {
  width: 50px;
  height: 50px;
  margin: 2px;
}
nav .navLink,
section .navLink {
  text-decoration: none;
  color: var(--text-color);
}

nav .btn,
section .btn {
  background-color: var(--buttoncolor);
  width: 12%;
  height: 10%;
  text-align: center;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
main article {
  margin-bottom: 10px;
}
.homeContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  padding: 5%;
}

.homeContainer section,
.aboutContainer section {
  flex: 1;
}
.homeContainer section:last-child {
  text-align: center;
}
.homeContainer section a {
  width: 30%;
  height: 12%;
  display: block;
  margin-top: 2%;
  margin-bottom: 15%;
}
.homeContainer section h1 {
  font-size: 2rem;
}
section .tableRow tr td {
  width: 20%;
  background-color: rgba(237, 216, 255, 0.5);
  text-align: center;
  color: #424e60;
  padding: 5px;
}

section .tableRow td h2 {
  margin: 10px auto;
  margin-bottom: 0;
}
.homeContainer section img {
  width: 200px;
  height: auto;
  margin: 15% auto;
  border-radius: 15px;
  filter: drop-shadow(10px 10px 4px #a53dff);
}
/* about section style */
.aboutContainer {
  display: flex;
  justify-content: space-around;
  height: 90vh;
}

.aboutContainer :first-child {
  margin: 10% auto;
}

.aboutContainer .aboutimg {
  background-image: url("../images/aboutimg.png");
  height: 50%;
  background-size: cover;
  border-radius: 10px;
  filter: drop-shadow(10px 10px 4px #a53dff);
}

.aboutContainer section p {
  color: var(--dark-gray);
  font-size: 1rem;
}
.aboutContainer section h1 {
  font-size: 2rem;
}

/* social bar style */
.shadow3 {
  background-image: url("http://www.commixturesoft.com/img/shadow3.png");
  background-repeat: no-repeat;
}

.badge-info {
  background-color: rgba(23, 160, 184, 0.17);
  color: #17a2b8;
}

.section-title .badge {
  margin: 0 0 8px;
}
.badge {
  border-radius: 100px;
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: normal;
  padding: 4px 14px;
  text-transform: uppercase;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.social-bar {
  display: flex;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 60px rgba(93, 70, 232, 0.15);
  border: 1px solid#ebe9e9;
}
.iconpad {
  width: 100%;
}
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.process-scetion .slider-nav-item {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 50%;
  text-align: center;
  background: #fff;
  cursor: pointer;
  transition: all 0.4s ease;
}

.social-icons a {
  border-radius: 50px;
  color: #3f345f;
  display: inline-block;
  line-height: 46px;
  height: 40px;
  width: 40px;
  box-shadow: 0 5px 25px rgba(93, 70, 232, 0.15);
  margin: 1px 20px;
  font-size: 22px;
}

.slider-nav-item:before {
  position: absolute;
  content: "";
  height: calc(100% + 16px);
  width: calc(100% + 16px);
  top: -8px;
  left: -8px;
  border-radius: 50%;
  border: 1px solid rgba(132, 132, 164, 0.35);
  animation: 1.5s linear 0s normal none infinite focuse;
}

/*socil*/
.slider-nav {
  display: flex;
}

.process-scetion .slider-nav-item {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 50%;
  text-align: center;
  background: #fff;
  cursor: pointer;
  transition: all 0.4s ease;
}
.slider-nav-item:before {
  position: absolute;
  content: "";
  height: calc(100% + 16px);
  width: calc(100% + 16px);
  top: -8px;
  left: -8px;
  border-radius: 50%;
  border: 1px solid rgba(132, 132, 164, 0.35);
  animation: 1.5s linear 0s normal none infinite focuse;
}

.process-scetion .slider-nav-item:nth-child(2) {
  color: #40beff;
}
.process-scetion .slider-nav-item:nth-child(3) {
  color: #311f9b;
}
.process-scetion .slider-nav-item:nth-child(4) {
  color: #ff9259;
}
.process-scetion .slider-nav-item:nth-child(5) {
  color: #38385f;
}
.process-scetion .slider-nav-item:after {
  position: absolute;
  top: 50%;
  left: 100%;
  height: 2px;
  content: "";
  width: 100%;
  background: url(http://demo.themenio.com/ico/assets/images/line.png) repeat 0
    0;
  z-index: 0;
  animation: slide 1s linear infinite;
}
.process-scetion .slider-nav-item:last-child:after {
  display: none;
}
.process-scetion .slider-nav-item .ikon {
  font-size: 50px;
  line-height: 80px;
}

.process-scetion .slider-nav-item.active:before {
  position: absolute;
  content: "";
  height: calc(100% + 16px);
  width: calc(100% + 16px);
  top: -8px;
  left: -8px;
  border-radius: 50%;
  border: 1px solid rgba(132, 132, 164, 0.35);
  animation: 1.5s linear 0s normal none infinite focuse;
}

.process-scetion.container {
  width: 200px;
  text-align: center;
  margin: 1px auto;
  margin-top: 20px;
}
@keyframes focuse {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }
  75% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

.shadow-img1 {
  background-image: url("../img/shadow.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.shadow-img2 {
  background-position: bottom;
  background-image: url("../img/shadow2.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.slider-nav-item:after {
  position: absolute;
  top: 50%;
  left: 100%;
  height: 2px;
  content: "";
  width: 100%;
  background: url(https://1.bp.blogspot.com/--Btu5p654jU/XYmrVd5IcYI/AAAAAAAATQ0/4bX8aZyFBgApbJUf90KrpCfO6RvAaZ6LgCLcBGAsYHQ/s1600/line.png)
    repeat 0 0;
  z-index: 0;
  animation: slide 1s linear infinite;
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.jello-horizontal {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}

.social-bar a:hover i {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}

/* projects section style */
.projectsContainer {
  margin: 30% auto;
}
.projectsContainer > h1,
.projectsContainer > p {
  text-align: center;
}
.projectsContainer section {
  display: flex;
  justify-content: space-between;
  gap: 4%;
  padding: 4%;
}
.projectsContainer section .project {
  width: 100%;
  border: var(--note-color) 1px solid;
  border-radius: 15px;
  margin-bottom: 20px;
}
.projectsContainer section .project .projectImg {
  width: 100%;
  height: 50%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.projectsContainer section .project .padding10 {
  padding: 10%;
}

.projectsContainer section .project .project-demo {
  padding: 10px;
  background-color: white;
  border: var(--buttoncolor) 2px solid;
  color: var(--buttoncolor);
  text-decoration: none;
}
.projectsContainer section .project .projectTitle {
  margin-top: 0;
}
.projectsContainer section .project .padding10 .project-discription {
  margin-bottom: 30px;
  color: #556070;
}

/* footer styling */
footer {
  height: 20vh;
  padding: 10%;
  background-color: #2b384c;
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
footer nav {
  width: 100%;
  justify-content: space-evenly;
}
footer nav .navLink {
  color: #f0f1f3;
  font-size: 0.9rem;
}
footer nav .logoBox h1 {
  color: white;
}
@media only screen and (max-width: 300px) {
  .process-scetion .slider-nav-item {
    height: 30px;
    width: 30px;
    margin: 5px 2px;
    line-height: 28px;
  }
  .homeContainer,
  .aboutContainer {
    flex-direction: column;
  }
}
@media all and (min-width: 900px) {
  .homeContainer section img {
    width: 50%;
  }
  .homeContainer {
    padding: 5% 10%;
  }
  .aboutContainer .aboutimg {
    height: 30%;
    padding: 20%;
    margin: auto 10%;
  }
}
@media only screen and (max-width: 800px) {
  .projectsContainer section {
    flex-wrap: wrap;
  }
  .projectsContainer section .project {
    margin: auto 20%;
  }
  .resumeContainer {
    flex-direction: column;
  }
  .homeContainer,
  .aboutContainer {
    flex-direction: column;
  }
  nav {
    margin-bottom: 20%;
    flex-wrap: wrap;
  }
  footer {
    height: fit-content;
  }
}
