:root {
  --bg-color: #132238;
}
.contactContainer {
  margin: 40vh auto;
}
.contactContainer .black-section {
  background-color: var(--bg-color);
  text-align: center;
  color: white;
  height: 35%;
  padding: 3%;
}
.contactContainer .black-section p {
  color: #a5acb5;
  margin-bottom: 10%;
}
.contactContainer .black-section a {
  text-decoration: none;
  padding: 2%;
}
